{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="sf-prod__info-wrapper">
  <div class="sf-prod__info">
    {%- form 'product', product, data-productid: product.id, class: 'product-form form main-product', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle, id: product_form_id -%}
      {% if section.blocks.size > 0 %}
        <div class="main-product__blocks">
          <input hidden name="id" data-productid="{{ product.id }}" required value="{{ product.selected_or_first_available_variant.id }}">
          {%- for block in section.blocks -%}
            <div class="main-product__block main-product__block-{{ block.type }}" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'badge' -%}
                  {% assign has_tags = false %}
                  {% for tag in product.tags %}
                    {% if tag contains 'tag__' %}
                      {% assign has_tags = true %}
                    {% endif %}
                  {% endfor %}
                  {% if has_tags %}
                    <div class="mb-4 prod__tags">
                      {% render 'product-tags' %}
                    </div>
                  {% endif %}
                {%- when 'title' -%}
                  <div class="prod__title flex justify-between items-center">
                    <h2 class="text-2xl md:text-3xl md:leading-[42px] pr-2">{{ product.title }}</h2>
                    {% if section.settings.show_atwl and section.settings.layout != 'layout-7'  %}
                      <div class="hidden md:block">{% render 'tooltip', type: 'wishlist', class_name: 'sf__tooltip-top' %}</div>
                    {% endif %}
                  </div>
                  {% if settings.review_app == 'ali_reviews' %}
                    <div product-id="{{ product.id }}" class="alr-display-review-badge mt-2"></div>
                  {% endif %}
                {%- when 'price' -%}
                  <div class="prod__reviews-and-prices flex items-center justify-between">
                    {% render 'product-prices', product: product, price_class: 'text-xl md:text-2xl' %}
                  </div>
                {%- when 'short_description' -%}
                  {% if product.metafields.descriptor.short_description != blank %}
                    <div class="prod__description leading-6">{{ product.metafields.descriptor.short_description }}</div>
                  {% endif %}
                {%- when 'description' -%}
                  <div class="product__description prose">
                    {{ product.description }}
                  </div>
                {%- when 'meta' -%}
                  <ul class="prod__additional_infos">
                    <!-- TODO: change SKU by variant -->
                    {% if block.settings.show_vendor and product.vendor != blank %}
                      <li>
                        <span class="prod__additional_infos-label">{{ 'products.product.vendor' | t }}:</span>
                        <div class="prod__additional_infos-value prod__sku">{{ product.vendor }}</div>
                      </li>
                    {% endif %}
                    {% if block.settings.show_sku %}
                      <li>
                        <span class="prod__additional_infos-label">{{ 'products.product.sku' | t }}:</span>
                        <div class="prod__additional_infos-value prod__sku">{{ product.selected_or_first_available_variant.sku | default: 'N/A' }}</div>
                      </li>
                    {% endif %}
                    {% if block.settings.show_collections and product.collections.size > 0 %}
                      <li class="prod__categories">
                        <div class="prod__additional_infos-label">{{ 'products.product.collections' | t }}:</div>
                        <div class="prod__additional_infos-value">
                          {% for collection in product.collections %}
                            <a href="{{collection.url}}" class="hover:text-black">
                              {{ collection.title }}{%- if forloop.last != true -%}, {%- endif -%}
                            </a>
                          {% endfor %}
                        </div>
                      </li>
                    {% endif %}
                  </ul>
                {%- when 'variant_picker' -%}
                  {%- unless product.has_only_default_variant -%}
                    <div class="product__variant-picker product-options">
                      {% render 'product-option', product: product %}
                    </div>
                  {%- endunless -%}
                {%- when 'buy_buttons' -%}
                  <div class="product-form__actions" data-cart-actions>
                    {% if block.settings.show_quantity_selector == true %}
                      <label class="prod__option-label prod__option-label__quantity font-medium hidden md:block">
                        {{ 'products.product.quantity' | t }}
                      </label>
                    {% endif %}
                    <div class="flex flex-wrap items-end">
                      {% if block.settings.show_quantity_selector %}
                        <div class="form__input-wrapper form__input-wrapper--select mr-5 w-32" data-quantity-input-wrapper>
                          <label class="prod__option-label font-medium md:hidden">
                            {{ 'products.product.quantity' | t }}
                          </label>
                          {% render 'product-qty-input', product: product %}
                        </div>
                      {% endif %}
                      {% if block.settings.show_atc_button %}
                        {% assign btn_class = 'sf__btn-primary' %}
                        {% if block.settings.show_dynamic_checkout %}
                          {% assign btn_class = 'sf__btn-secondary' %}
                        {% endif %}
                        {% render 'product-atc', class: btn_class, product: product %}
                      {% endif %}
                      {% if block.settings.show_dynamic_checkout and is_preorder == false %}
                        <div class="prod__dynamic_checkout buy-one-click{% if block.settings.show_atc_button %} w-full mt-5{% else %} flex-1{% endif %}">
                          {{ form | payment_button }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="prod__form-error mt-4"></div>
                {%- when 'collapsible_tab' -%}
                  {% if block.settings.heading != blank %}
                    <div class="prod__accordion">
                      <div
                              class="sf__accordion-item overflow-hidden{% if block.settings.default_open %} open{% endif %}"
                              data-index="{{ forloop.index0 }}"
                              style="--content-max-height: {% if block.settings.default_open %}100%{% else %}0px{% endif %};"
                      >
                        <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 border-b border-color-border">
                          {{ block.settings.heading }}
                        </div>
                        <div class="sf__accordion-content">
                          <div class="py-5 prose">
                            {{ block.settings.content }}
                            {{ block.settings.liquid }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {%- when 'text' -%}
                  {% if block.settings.text != blank %}
                    {% assign text_style = block.settings.text_style %}
                    {% assign text_class = '' %}
                    {% case text_style %}
                      {% when 'subtitle' %}
                        {% assign text_class = 'text-color-subtext' %}
                      {% when 'uppercase' %}
                        {% assign text_class = 'text-color-subtext uppercase text-sm' %}
                    {% endcase %}
                    <div class="bottom-block__text {{ text_class }}">
                      {{ block.settings.text }}
                    </div>
                  {% endif %}
                {%- when 'custom_text' -%}
                  {% if block.settings.content != blank %}
                    <div class="bottom-block__text">
                      <div class="prose">
                        {{ block.settings.content }}
                      </div>
                    </div>
                  {% endif %}
                {%- when 'custom_liquid' -%}
                  {% if block.settings.custom_liquid != blank %}
                    <div class="bottom-block__text">
                      {{ block.settings.custom_liquid }}
                    </div>
                  {% endif %}
                {%- when 'trust_badge' -%}
                  {% if block.settings.trust_badges_image != blank %}
                    {% assign position = block.settings.position %}
                    <div class="prod__trust-badges text-center prod__trust-badges--{{ position | default: 'below' }}">
                      <div style="width: {{ block.settings.trust_badges_image_width }};">
                        {% render 'responsive-image', image: block.settings.trust_badges_image %}
                      </div>
                      {% if block.settings.trust_badges_text != blank %}
                        <h4 class="text-base">{{ block.settings.trust_badges_text }}</h4>
                      {% endif %}
                    </div>
                  {% endif %}
                {%- when 'shipping' -%}
                  <ul>
                    {% if block.settings.show_delivery_times %}
                      <li class="prod__delivery-times flex items-center">
                  <span class="bottom-block__icon">
                    {% render 'icon', name: 'shipping-fast', size: 'medium' %}
                  </span>
                        {% assign range =  2 | times: 24 | times: 60 | times: 60 %}
                        {% assign deliver_in =  block.settings.deliver_days | times: 24 | times: 60 | times: 60 %}
                        {% assign now = 'now' | date: "%s" %}

                        {% assign from = now | plus: deliver_in | minus: range | date: "%b %d" %}
                        {% assign to = now | plus: deliver_in | plus: range | date: "%b %d" %}

                        <div class="ml-3 flex">
                          <p><strong>{{ block.settings.deliver_text | strip_html }}</strong><span class="ml-2">{{ from }} - {{ to }}</span></p>
                        </div>
                      </li>
                    {% endif %}
                    {% if block.settings.show_shipping_text and block.settings.shipping_text != blank %}
                      <li class="prod__shipping-text flex items-center mt-2">
            <span class="bottom-block__icon">
              {% render 'icon', name: 'box', size: 'custom', class: 'w-5 h-4' %}
            </span>
                        <div class="ml-3 flex">
                          {{ block.settings.shipping_text }}
                        </div>
                      </li>
                    {% endif %}
                  </ul>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {% endif %}
    {%- endform -%}

  </div>
</div>
