{%- assign values_limit = settings.pcard_limit_values_number -%}
{%- assign rest_values = 0 -%}

{%- if values_limit == 0 or is_product_card != true -%}
  {%- assign values_limit = 99 -%}
{%- elsif option.values.size > values_limit -%}
  {%- assign rest_values = option.values.size | minus: values_limit -%}
{%- endif -%}

{%- case design -%}
  {%- when 'dropdown' -%}
    <div class="inline-flex flex-wrap">
      <label for="{{ option.name }} {{ option.position }}"></label>
      <div class="sf__select-bordered">
        <select
          class="sf-product-variant-option-dropdown h-11 border border-color-border rounded w-full pl-4 pr-10 cursor-pointer"
        >
          {% for value in option.values %}
            <option
              {% if option.selected_value == value %}selected{% endif %}
              class="product-option-item"
              data-option-position="{{ option.position }}"
              data-value="{{- value | escape -}}"
            >
              {{- value -}}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% when 'image' %}
    <div class="inline-flex flex-wrap">
      {% for value in option.values %}
        {%- if forloop.index0 < values_limit -%}
          <div
            {% if option.selected_value == value %}data-selected="true"{% endif %}
            class="product-option-item border border-color-border flex items-center justify-center mr-2 mb-2 cursor-pointer"
            data-option-position="{{ option.position }}"
            data-option-type="image"
            data-value="{{- value | escape -}}"
            style="--option-aspect-ratio: {{ product.featured_image.aspect_ratio | default: '1' }}"
          >
            {{- value -}}
          </div>
        {%- endif -%}
      {% endfor %}
      {% render 'product-option-rest-values',
        class: 'sf-po__option-button',
        product_handle: product_handle,
        rest_values: rest_values
      %}
    </div>
  {% when 'color' %}
    <div class="inline-flex flex-wrap">
      {% for value in option.values %}
        {%- if forloop.index0 < values_limit -%}
          <div class="sf__tooltip-item sf__tooltip-top">
            <div class="sf__variant-swatch flex justify-center items-center">
              <div
                {% if option.selected_value == value %}data-selected="true"{% endif %}
                class="product-option-item flex items-center justify-center cursor-pointer text-white"
                data-option-position="{{ option.position }}"
                data-option-type="color"
                data-value="{{- value | escape -}}"
              >
                {{- value -}}
              </div>
            </div>
            <span class="sf__tooltip-content capitalize">{{- value -}}</span>
          </div>
        {%- endif -%}
      {% endfor %}
      {% render 'product-option-rest-values',
        class: 'color-design',
        product_handle: product_handle,
        rest_values: rest_values
      %}
    </div>
  {% when 'button' %}
  <div class="inline-flex product-options-wrapper flex-wrap{% if is_size %} mr-4{% endif %}">
    {% assign optionPosition = 'option' | append: option.position %}
    {% for value in option.values %}
      {%- if forloop.index0 < values_limit -%}
        {% assign option_des = "(Try it out)" %}
        {% if forloop.index == 2 %}
          {% assign option_des = "(Most common)" %}
        {% endif %}
        {% if forloop.index == 3 %}
          {% assign option_des = "(Best value)" %}
        {% endif %}
        <div
          {% if option.selected_value == value %}data-selected="true"{% endif %}
          class="product-option-item sf-po__option-button"
          data-option-position="{{ option.position }}"
          data-option-type="{{design}}"
          data-value="{{- value -}}"
        >
        {% for variant in product.variants %}
          {% if variant[optionPosition] == value %}
            {% if variant.image != blank %}
              <img class="variant_image" src="{{ variant.image.src | img_url: 'original' }}" />
            {% endif %}
          {% endif %}
        {% endfor %}
          <p class="variant_option">{{- value -}}</p>
          <p class="option_des">{{option_des}}</p>
        </div>
      {%- endif -%}
    {% endfor %}
    {% render 'product-option-rest-values',
      class: 'sf-po__option-button',
      product_handle: product_handle,
      rest_values: rest_values
    %}
  </div>
  {%- else -%}
    <div class="inline-flex flex-wrap{% if is_size %} mr-4{% endif %}" style="margin: 0 -5px;">
      {% for value in option.values %}
        {%- if forloop.index0 < values_limit -%}
          <div
            {% if option.selected_value == value %}data-selected="true"{% endif %}
            class="product-option-item sf-po__option-button rounded"
            data-option-position="{{ option.position }}"
            data-option-type="default"
            data-value="{{- value | escape -}}"
          >
            {{- value -}}
          </div>
        {%- endif -%}
      {% endfor %}
      {% render 'product-option-rest-values',
        class: 'sf-po__option-button default-design',
        product_handle: product_handle,
        rest_values: rest_values
      %}
    </div>
{%- endcase -%}
