{% assign product_bundle = product.title | handleize %}
      
{% assign product_ids = '' %}
{% for collection in collections %}
  {% for item in collection.products %}
    {% unless product_ids contains product.handle %}
      {% for tag in item.tags %}
        {% assign bundle_tag = 'bundle_' | append: product_bundle %}
        {% if bundle_tag == tag %}
          {% assign product_ids = product_ids | append: item.handle | append: ',' %}  
        {% endif %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign product_ids = product_ids | split: ',' %}
{% assign result_arr = '' %}
{% for id in product_ids %}
  {% assign result_arr = result_arr | prepend: ',' | prepend: id %} 
{% endfor %}

{% assign product_ids = result_arr | split: ',' %}

<div class="product-bundle-selector">
  {% for i in (1..10) %}
    {% for handle in product_ids %}
      {% if handle contains i %}
        {% assign product = all_products[handle] %}
        {% assign featured_image = product.featured_image %}
        {% assign title = product.title | split: ' - ' | last %}
        {% assign option_des = "(Try it out)" %}
        {% if title contains 3 %}
          {% assign option_des = "(Most common)" %}
        {% endif %}
        {% if title contains  6 %}
          {% assign option_des = "(Best deal)" %}
        {% endif %}
        <div class="product-bundle-item {% if forloop.index0 == idx %}is-active{% endif %}" data-index="{{ forloop.index0 }}">
          <img class="variant_image" src="{{ featured_image | img_url: 'original' }}" />

          <h3>{{ title }}</h3>    
          <span>{{ option_des }}</span>
        </div>
      {% endif %}
      
    {% endfor %}
  {% endfor %}
  
</div>
