{%- comment -%}
    It creates a style tag and it restricts an image from growing larger than its max resolution.
    Accepts:
    - max_width: {Number} Max width of the image container
    - max_height: {Number} Max height of the image container
    - image: {Object} Image object
    - image_class: {String} class name of the <img />
    - image_attributes: {String}  additional HTML attributes of the <img />
    - wrapper_class: {String} class name of the <div> wrapper
    - wrapper_attributes: {String} additional HTML attributes of the <div> wrapper

    Usage:
    In your liquid template file, copy the following line
    - {% include 'responsive-image' with image: featured_image, image_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 700, max_height: 800 %}
{%- endcomment -%}

{%- comment -%} Added incremental number to avoid conflict styling code when the same images are using this snippet {%- endcomment -%}


{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

{%- comment -%} Limit image widths to valid options based on image.width {%- endcomment -%}
{%- assign image_widths = '180,360,540,720,900,1080,1296,1512,1728,1944,2160,2376,2592,2808,3024' | split: ',' -%}
{%- capture image_widths -%}
  {%- for width in image_widths -%}
    {%- comment -%} Check if image width is less or equal to width {%- endcomment -%}
    {%- assign width_num = width | plus: 0 | round -%}
    {%- if image.width >= width_num -%}{{ width_num }},{%- endif -%}
  {%- endfor -%}
  {{ image.width }}
{%- endcapture -%}
{%- assign image_widths = image_widths | strip -%}
{%- capture style -%}
  {% assign asp_rat = aspect_ratio | default: image.aspect_ratio %}
  {% if asp_rat == 'original' %}
    --aspect-ratio: {{ image.aspect_ratio }};
  {% else %}
    --aspect-ratio: {{ asp_rat }};
  {% endif %}
  {% if max_width %}
    --max-width: {{max_width}};
  {% endif %}
{%- endcapture -%}

<div data-image-id="{{ image.id }}" class="sf-image {{ wrapper_class }}" data-image-wrapper data-image-loading {{ wrapper_attributes }} style="{{ style | strip | strip_newlines }}">
  <img
      class="lazyload {{ image_class }}"
      {% comment %}
      src="{{ image | img_url: '100x' }}"
      {% endcomment %}
      data-src="{{ img_url }}"
      data-widths="[{{ image_widths }}]"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ alt | default: image.alt | escape }}"
      {{ image_attributes }}
      data-image
      {% if rounded %}
        style="border-radius: 51px;"
      {% endif %}
  >
  <noscript>
    <img class="{{ image_class }}" src="{{ image | img_url: '2048x2048' }}" alt="{{ alt | default: image.alt | escape }}">
  </noscript>
</div>
