{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{%- capture container -%}{{ section.settings.container }} {%- endcapture -%}

{% if collection.products %}
    <section
        id="sf__img-with-text-{{ section.id }}"
        class="image__with-text collection-product-list image-content image__with-text--{{ section.id }} {{ section.settings.custom_class }}"
        {% if has_bg %}
            data-bg="{{ bg_color | color_to_hsl }}"
        {% endif %}
        style="background-color: {{ section.settings.background_color }};"
    >
    {% for product in collection.products %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <div class="{{ container }}" style="--column-gap: {{ section.settings.item_gap }}px; --row-gap: {{ section.settings.item_gap | divided_by: 2 }}px; --column-gap-mobile: {{ section.settings.item_gap_mobile }}px;">

            <div class="flex flex-wrap {% if thecycle == 'even' %} flex-row-reverse {% endif %}">
                <div class="img__box-{{ section.id }} sf w-full lg:w-{{ section.settings.image_column_size }}/12">
                    <{% if product.url %}a{% else %}div{% endif %}{% if product.url %} href="{{ product.url }}"{% endif %} class="image__box{% if section.settings.hover_effect %} sf__hover-scale-up{% endif %} relative">
                    {% if product.featured_image != blank %}
                        {% render 'responsive-image', image: product.featured_image, image_class: 'w-full h-full' %}
                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full w-full h-full object-cover' }}
                    {% endif %}
                    </{% if product.url %}a{% else %}div{% endif %}>
                </div>
                <div class="sf-custom__block  flex items-center w-full lg:w-{{ 12 | minus: section.settings.image_column_size }}/12 {% if settings.container == 'w-full' %}px-4{% else %}px-0{% endif %}" style="background: {{product.metafields.my_fields.background}};">
                    <div class="content__box w-full text-{{ settings.content_alignment }}">
                    {% if product.title != blank %}
                        <p class=" text-xl md:text-xl lg:text-2xl content__subheading text-color-pink mb-5">{{ product.title }}</p>
                    {% endif %}
                    {% if product.metafields.my_fields.new_title != blank %}
                        <h3 class="content__heading rte text-2xl md:text-4xl {% if section.settings.text_size == 'medium' %}lg:text-4xl {% else %}2xl:text-5xl lg:text-6xl {% endif %} mb-4 lg:mb-6">{{ product.metafields.my_fields.new_title }}</h3>
                    {% endif %}

                    <div class="icon-section  mb-4 lg:mb-6">
                        {% if product.metafields.my_fields.icon1 != blank %}
                            <div class="icon-section-item">
                                <div class="icon-image mb-4 lg:mb-6">
                                    {% if product.metafields.my_fields.icon1 != blank %}
                                        {{product.metafields.my_fields.icon1 | img_tag}}
                                    {% endif %}
                                </div>
                                <div class="icon-section-text text-color-pink text-xl md:text-xl lg:text-2xl">
                                    {{ product.metafields.my_fields.icon1_text }}
                                </div>
                            </div>
                        {% endif %}
                        {% if product.metafields.my_fields.icon2 != blank %}
                            <div class="icon-section-item">
                                <div class="icon-image mb-4 lg:mb-6">
                                    {% if product.metafields.my_fields.icon2 != blank %}
                                        {{product.metafields.my_fields.icon2 | img_tag}}
                                    {% endif %}
                                </div>
                                <div class="icon-section-text text-color-pink text-xl md:text-xl lg:text-2xl">
                                    {{ product.metafields.my_fields.icon2_text }}
                                </div>
                            </div>
                        {% endif %}
                        {% if product.metafields.my_fields.icon3 != blank %}
                            <div class="icon-section-item">
                                <div class="icon-image mb-4 lg:mb-6">
                                    {% if product.metafields.my_fields.icon3 != blank %}
                                        {{product.metafields.my_fields.icon3 | img_tag}}
                                    {% endif %}
                                </div>
                                <div class="icon-section-text text-color-pink text-xl md:text-xl lg:text-2xl">
                                    {{ product.metafields.my_fields.icon3_text }}
                                </div>
                            </div>
                        {% endif %}
                        {% if product.metafields.my_fields.icon4 != blank %}
                            <div class="icon-section-item">
                                <div class="icon-image mb-4 lg:mb-6">
                                    {% if product.metafields.my_fields.icon4 != blank %}
                                        {{product.metafields.my_fields.icon4 | img_tag}}
                                    {% endif %}
                                </div>
                                <div class="icon-section-text text-color-pink text-xl md:text-xl lg:text-2xl">
                                    {{ product.metafields.my_fields.icon4_text }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if section.settings.button_label != blank %}
                        <a href="{{ product.url | default: "#" }}" class="default-btn">{{ section.settings.button_label }}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% else %}
<h3> There is no product.</h3>
{% endif %}

{% schema %}
  {
    "name": "Collection Product list",
    "settings": [
      {
        "type": "header",
        "content": "Section header"
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
      },
      {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
      },
      {
          "type": "header",
          "content": "General"
      },
      {
          "type": "select",
          "id": "container",
          "label": "Container type",
          "default": "container-fluid",
          "options": [
              {
                  "value": "container-fluid",
                  "label": "Default"
              },
              {
                  "value": "w-full",
                  "label": "Full width"
              },
              {
                  "value": "container",
                  "label": "Use container box"
              }
          ]
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "rgba(0,0,0,0)"
      },
      {
        "type": "range",
        "id": "item_gap",
        "label": "Column gap",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 100,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "item_gap_mobile",
        "label": "Column gap on mobile",
        "min": 0,
        "max": 30,
        "step": 2,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "image_column_size",
        "label": "Image container width",
        "default": "6",
        "options": [
          {
            "value": "2",
            "label": "16%"
          },
          {
            "value": "3",
            "label": "25%"
          },
          {
            "value": "4",
            "label": "33%"
          },
          {
            "value": "5",
            "label": "41%"
          },
          {
            "value": "6",
            "label": "50%"
          },
          {
            "value": "7",
            "label": "58%"
          },
          {
            "value": "8",
            "label": "66%"
          },
          {
            "value": "9",
            "label": "75%"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hover_effect",
        "label": "Hover effect",
        "default": false
      },
      {
        "type": "header",
        "content": "Content settings"
      },
     
      {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
          {
              "value": "medium",
              "label": "Medium"
          },
          {
              "value": "large",
              "label": "Large"
          }
          ],
          "default": "medium"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "content": "Button settings",
        "type": "header"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop Now"
      },
      {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
            {
                "value": "sf__btn-primary",
                "label": "Primary button"
            },
            {
                "value": "sf__btn-secondary",
                "label": "Secondary button"
            },
            {
                "value": "sf__btn-white",
                "label": "White button"
            },
            {
                "value": "sf__btn-link",
                "label": "Underline button"
            }
            ],
            "default": "sf__btn-link"
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "Button size",
            "options": [
            {
                "value": "sf__btn-small",
                "label": "Button small"
            },
            {
                "value": "",
                "label": "Button medium"
            },
            {
                "value": "sf__btn-large",
                "label": "Button large"
            }
            ],
            "default": ""
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "presets": [
    {
      "name": "Collection Product list",
      "category": "Collection"
    }
  ]
  }
{% endschema %}
