{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my {% else %} py-8 {% endif %}
{% endcapture %}

<section
    id="st__testimonial-{{ section.id }}"
    class="sf-testimonials relative {{ section.settings.custom_class }} testimonials-1"
    data-section-type="testimonials"
    data-section-id="{{ section.id }}"
    data-design="testimonials-3"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ settings.autorotate }}{% endif %}"
    data-container="{{ settings.container }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ section.settings.background_color }};color: {{ section.settings.text_color }};"
>

  <div class="{{ container }} sf__custom-content-2">
    <div class="title">{{ settings.title }}</div>

    <p class="sub_title">{{ settings.sub_title }}</p>

    <div class="sf__custom-content-2__wrapper">
      {% for block in section.blocks %}
        <div class="sf__custom-content-2__item">
          {% render 'responsive-image', image: block.settings.image %}

          <p class="title" style="--text-color: {{ block.settings.text_color }};">{{ block.settings.text }}</p>
          
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Custom Content 2",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
            "value": "container-fluid",
            "label": "Default"
        },
        {
            "value": "w-full",
            "label": "Full width"
        },
        {
            "value": "container",
            "label": "Use container box"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#953b7e"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "content_item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "color",
          "label": "Text Color",
          "id": "text_color",
          "default": "#f392c8"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Custom Content 2",
    "category": "Advanced layout",
    "blocks": [
        { "type": "content_item" },
        { "type": "content_item" },
        { "type": "content_item" },
        { "type": "content_item" },
        { "type": "content_item" }
    ]
  }]
}
{% endschema %}