{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my {% else %} py-8 {% endif %}
{% endcapture %}
<section
    id="st__testimonial-{{ section.id }}"
    class="sf-testimonials custom-slider relative {{ section.settings.custom_class }} "
    data-section-type="testimonials"
    data-section-id="{{ section.id }}"
    data-design="testimonials-3"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ settings.autorotate }}{% endif %}"
    data-container="{{ settings.container }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ settings.background_color }};--star-color: {{ section.settings.star_color }};"
>
    <div class="{{ container }}">
        <div class="sf-testimonials__header relative text-{{ section.settings.header_alignment }}">
            {% if section.settings.heading != blank or section.settings.subheading != blank or section.settings.description != blank %}
                <div class="section__header text-{{ section.settings.header_alignment }}{% if section.settings.container == 'w-full' %} px-5{% endif %}">
                    {% if section.settings.subheading != blank %}
                        <h3 class="custom-slider-subtitle">{{ section.settings.subheading }}</h3>
                    {% endif %}
                    {% if section.settings.heading != blank %}
                        <h2 class="section__heading">{{ section.settings.heading }}</h2>
                    {% endif %}
                    
                </div>
            {% endif %}
        </div>

        <div class="sf-testimonials__container relative{% if section.settings.container == 'w-full' %} px-5{% endif %}">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide" {{ block.shopify_attributes }} data-index={{ forloop.index0 }}>
                            <div class="review-block cursor-[grab] select-none transition-opacity md:opacity-40 px-4 md:px-0">
                                <div class=" text-center pb-60">
                                    {% if block.settings.image != blank %}
                                        {% if block.settings.image_link != blank %}<a href="{{ block.settings.image_link | default: '#' }}">{% endif %}
                                        <div class="block">
                                            {% render 'responsive-image', image: block.settings.image, wrapper_class: 'mx-auto' %}
                                            {% if block.settings.image_text != blank %}
                                                <div class="sf__tes-image-text mt-2.5 text-sm not-change">
                                                    {{ block.settings.image_text }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if block.settings.image_link != blank %}</a>{% endif %}
                                    {% endif %}
                                    <div class="custom-slider-footer text-center">
                                        <h3 class="sf__tes-title text-xl mb-2.5 font-medium not-change">{{ block.settings.title }}</h3>
                                        <div class="sf__tes-desc mt-6  rte not-change">{{ block.settings.description }}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% render 'slider-controls', show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination, absolute: true %}
            
        </div>
        <div class="text-center">
            {% if section.settings.description != blank %}
                <h3 class="custom_slider_description">{{ section.settings.description }}</h3>
            {% endif %}
        </div>
        
    </div>
</section>

{% schema %}
    {
        "name": "Custom Slider",
        "class": "section-custom-slider",
        "settings": [
            {
                "type": "header",
                "content": "Section header"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Ingredients you’ve heard of"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "default": "How they’re made:"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "select",
                "id": "header_alignment",
                "label": "Text alignment",
                "default": "center",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    }
                ]
            },
            {
                "type": "header",
                "content": "General"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container type",
                "default": "w-full",
                "options": [
                    {
                        "value": "container-fluid",
                        "label": "Default"
                    },
                    {
                        "value": "w-full",
                        "label": "Full width"
                    },
                    {
                        "value": "container",
                        "label": "Use container box"
                    }
                ]
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background color"
            },
            {
                "type": "checkbox",
                "id": "show_navigation",
                "label": "Show navigation",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "autorotate",
                "label": {"en": "Auto-rotate content"},
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_pagination",
                "label": "Show pagination",
                "default": true
            },
            {
                "type": "text",
                "id": "custom_class",
                "label": "Custom classes"
            }
        ],
        "blocks": [
            {
                "type": "slider",
                "name": "Slider",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Beetroot"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Content"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Image link"
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Custom Slider",
            "category": "Promotional",
            "blocks": [
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" }
            ]
        }]
    }
{% endschema %}
