{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my {% else %} py-8 {% endif %}
{% endcapture %}

<section
    id="st__testimonial-{{ section.id }}"
    class="sf-testimonials relative {{ section.settings.custom_class }} testimonials-1"
    data-section-type="testimonials"
    data-section-id="{{ section.id }}"
    data-design="testimonials-3"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ settings.autorotate }}{% endif %}"
    data-container="{{ settings.container }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ section.settings.background_color }};color: {{ section.settings.text_color }};"
>
  <div class="sf__image-banner-blocks">
    <div class="">
      {% for block in section.blocks %}
        {% if block.settings.image_type == 'one-image' %}
          {% assign mobile_image = block.settings.image %}
          {% if block.settings.mobile_image != blank %}
            {% assign mobile_image = block.settings.mobile_image %}
          {% endif %}
          <div 
            class="sf__image-banner-blocks__item"
            {% comment %}
            {% if block.settings.image == blank %}
              style="--bg-color: {{ block.settings.background_color }};"  
            {% else %}
              style="--bg-image: url({{ block.settings.image | img_url: 'master' }}); min-height: 550px; --bg-mobile-image: url({{ mobile_image | img_url: 'master' }});" 
            {% endif %}
            {% endcomment %}
          >
            {% if block.settings.image != blank %}
              {% render 'responsive-image', image: block.settings.image, wrapper_class: 'mx-auto hide--mobile'%}
              {% assign mob_image = block.settings.mobile_image | default: block.settings.image %}
              {% render 'responsive-image', image: mob_image, wrapper_class: 'mx-auto hide--desktop'%}
            {% endif %}
            <p class="title" style="--text-color: {{ block.settings.text_color }};">{{ block.settings.text }}</p>
          </div>  
        {% else %}
          <div class="sf__image-banner-block__two">
            <div 
              class="sf__image-banner-block__two-image1"
              {% if block.settings.image == blank %}
                style="--bg-color: {{ block.settings.background_color }};min-height: 300px;"
              {% endif %}
            >
              {% if block.settings.image != blank %}
                {% render 'responsive-image', image: block.settings.image, wrapper_class: 'mx-auto'%}
              {% endif %}
            </div>  

            <div 
              class="sf__image-banner-block__two-image2"
              {% if block.settings.image2 == blank %}
                style="--bg-color-2: {{ block.settings.background_color2 }};min-height: 300px;"
              {% endif %}
            >
              {% if block.settings.image2 != blank %}
                {% render 'responsive-image', image: block.settings.image2, wrapper_class: 'mx-auto'%}
              {% endif %}
            </div>  

            <div class="sf__image-banner-block__two-text">
              <p class="title" style="--text-color: {{ block.settings.text_color }}">{{ block.settings.text }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    
  </div>
</section>

{% schema %}
{
  "name": "Custom Content 2",
  "class": "section-image-blocks",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
            "value": "container-fluid",
            "label": "Default"
        },
        {
            "value": "w-full",
            "label": "Full width"
        },
        {
            "value": "container",
            "label": "Use container box"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#953b7e"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "image_type",
          "label": "Image type",
          "default": "one-image",
          "options": [
            {
              "value": "one-image",
              "label": "One Image"
            },
            {
              "value": "two-image",
              "label": "Two Image"
            }
          ]
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "image_picker",
          "label": "Mobile Image",
          "id": "mobile_image"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "label": "Image 2",
          "id": "image2"
        },
        {
          "type": "image_picker",
          "label": "Mobile Image 2",
          "id": "mobile_image2"
        },
        {
          "type": "color",
          "id": "background_color2",
          "label": "Background Color 2"
        },
        {
          "type": "text",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "color",
          "label": "Text Color",
          "id": "text_color"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image Banner Blocks",
    "category": "Image",
    "blocks": [
        { "type": "image" },
        { "type": "image" }
    ]
  }]
}
{% endschema %}