{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my {% else %} py-8 {% endif %}
{% endcapture %}

<section
    id="st__testimonial-{{ section.id }}"
    class="sf-testimonials relative {{ section.settings.custom_class }} testimonials-1"
    data-section-type="testimonials"
    data-section-id="{{ section.id }}"
    data-design="testimonials-3"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ settings.autorotate }}{% endif %}"
    data-container="{{ settings.container }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ settings.background_color }};--star-color: {{ section.settings.star_color }};"
>
    <div class="{{ container }}" style="margin-bottom: 40px;">
        <div class="sf-testimonials__header relative text-{{ section.settings.header_alignment }}">
            {% render 'index-section-header', section_settings: section.settings %}
        </div>

        <div class="sf-testimonials__container relative{% if section.settings.container == 'w-full' %} px-5{% endif %}">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide" {{ block.shopify_attributes }} data-index={{ forloop.index0 }}>
                            <div class="review-block cursor-[grab] select-none transition-opacity md:opacity-40 px-4 md:px-0">
                                <div class=" text-center">
                                    {% if block.settings.image != blank %}
                                        {% if block.settings.image_link != blank %}<a href="{{ block.settings.image_link | default: '#' }}">{% endif %}
                                        <div class="block">
                                            {% assign aspect_ratio = block.settings.image.aspect_ratio %}
                                            {% if block.settings.aspect_ratio != 'default' %}
                                                {% assign aspect_ratio = 1 %}
                                            {% endif %}

                                            {% render 'responsive-image', image: block.settings.image, wrapper_class: 'mx-auto',  aspect_ratio: aspect_ratio, rounded: block.settings.image_rounded %}
                                            {% if block.settings.image_text != blank %}
                                                <div class="sf__tes-image-text mt-2.5 text-sm not-change">
                                                    {{ block.settings.image_text }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if block.settings.image_link != blank %}</a>{% endif %}
                                    {% endif %}
                                    <h3 class="sf__tes-title text-xl mb-2.5 font-medium not-change">{{ block.settings.title }}</h3>
                                    <div class="sf__tes-desc mt-6  rte not-change">{{ block.settings.description }}</div>
                                    <div class="sf__tes-name text-color-subtext not-change">{{ block.settings.footer }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% render 'slider-controls', show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination, absolute: true %}
            
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Image Slider",
        "class": "section-image-slider",
        "settings": [
            {
                "type": "header",
                "content": "Section header"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "select",
                "id": "header_alignment",
                "label": "Text alignment",
                "default": "center",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    }
                ]
            },
            {
                "type": "header",
                "content": "General"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container type",
                "default": "w-full",
                "options": [
                    {
                        "value": "container-fluid",
                        "label": "Default"
                    },
                    {
                        "value": "w-full",
                        "label": "Full width"
                    },
                    {
                        "value": "container",
                        "label": "Use container box"
                    }
                ]
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background color"
            },
            {
                "type": "checkbox",
                "id": "show_navigation",
                "label": "Show navigation",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "autorotate",
                "label": {"en": "Auto-rotate content"},
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_pagination",
                "label": "Show pagination",
                "default": true
            },
           
            {
                "type": "text",
                "id": "custom_class",
                "label": "Custom classes"
            }
        ],
        "blocks": [
            {
                "type": "slider",
                "name": "Slider",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Love it so much"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Content",
                        "default": "<p>\"This is a game-changer\"</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "footer",
                        "label": "Author",
                        "default": "<p>@username</p>"
                    },
                    {
                        "type": "header",
                        "content": "Image Settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "image_rounded",
                        "label": "Enable Rounded - Image",
                        "default": true
                    },
                    {
                        "type": "select",
                        "label": "Aspect Ratio - Image",
                        "id": "aspect_ratio",
                        "default": "default",
                        "options": [
                            {
                                "value": "default",
                                "label": "Default"
                            },
                            {
                                "value": "1:1",
                                "label": "1 x 1"
                            }
                        ]
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image",
                        "info": "Optional"
                    },
                    {
                        "type": "richtext",
                        "id": "image_text",
                        "label": "Image text",
                        "info": "Optional"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Image link"
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Image Slider",
            "category": "Promotional",
            "blocks": [
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" },
                { "type": "slider" }
            ]
        }]
    }
{% endschema %}
