{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

{%- assign settings = section.settings -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{%- capture container -%}{{ section.settings.container }} {%- endcapture -%}

<section
    id="sf__img-with-text-{{ section.id }}"
    class="image__with-text image-content image__with-text--{{ section.id }} {{ section.settings.custom_class }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    style="background-color: {{ section.settings.background_color }};"
>
    <div class="{{ container }}" style="--column-gap: {{ section.settings.item_gap }}px; --row-gap: {{ section.settings.item_gap | divided_by: 2 }}px; --column-gap-mobile: {{ section.settings.item_gap_mobile }}px;">
        {% render 'index-section-header', section_settings: section.settings %}

        <div class="flex flex-wrap {% if section.settings.layout == 'right' %} flex-row-reverse {% endif %}">
          <div class="image__box-wrapper img__box-{{ section.id }} sf w-full lg:w-{{ section.settings.image_column_size }}/12">
            <{% if section.settings.link %}a{% else %}div{% endif %}{% if section.settings.link %} href="{{ section.settings.link }}"{% endif %} class="image__box{% if section.settings.hover_effect %} sf__hover-scale-up{% endif %} relative">
              {% if section.settings.image != blank %}
                {% render 'responsive-image', image: section.settings.image, image_class: 'w-full h-full' %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full w-full h-full object-cover' }}
              {% endif %}
            </{% if section.settings.link %}a{% else %}div{% endif %}>
          </div>
          <div class="sf-custom__block content__box-{{ section.id }} flex items-center w-full lg:w-{{ 12 | minus: section.settings.image_column_size }}/12 {% if settings.container == 'w-full' %}px-4{% else %}px-0{% endif %}">
            <div class="content__box w-full text-{{ settings.content_alignment }}">
              {% if section.settings.sub_title != blank %}
                <p class=" text-xl md:text-xl lg:text-2xl content__subheading text-color-pink_ mb-2">{{ section.settings.sub_title }}</p>
              {% endif %}
              {% if section.settings.title != blank %}
                <h3 class="content__heading rte text-2xl md:text-4xl {% if section.settings.text_size == 'medium' %}lg:text-4xl {% else %}2xl:text-5xl lg:text-6xl {% endif %} mb-4 lg:mb-6">{{ section.settings.title }}</h3>
              {% endif %}
              <div class="icon-section  mb-4 lg:mb-6">
                  {% if section.settings.icon_1 != blank %}
                    <div class="icon-section-item">
                        <div class="icon-image mb-4 lg:mb-6">
                            {% if section.settings.icon_1 != blank %}
                                {% render 'responsive-image', image: section.settings.icon_1, image_class: 'w-full h-full' %}
                            {% endif %}
                        </div>
                        <div class="icon-section-text text-color-pink_ text-xl md:text-xl lg:text-2xl">
                            {{ section.settings.icon_text_1 }}
                        </div>
                    </div>
                  {% endif %}
                  {% if section.settings.icon_2 != blank %}
                    <div class="icon-section-item">
                        <div class="icon-image mb-4 lg:mb-6">
                            {% if section.settings.icon_2 != blank %}
                                {% render 'responsive-image', image: section.settings.icon_2, image_class: 'w-full h-full' %}
                            {% endif %}
                        </div>
                        <div class="icon-section-text text-color-pink_ text-xl md:text-xl lg:text-2xl">
                            {{ section.settings.icon_text_2 }}
                        </div>
                    </div>
                  {% endif %}
                  {% if section.settings.icon_3 != blank %}
                    <div class="icon-section-item">
                        <div class="icon-image mb-4 lg:mb-6">
                            {% if section.settings.icon_3 != blank %}
                                {% render 'responsive-image', image: section.settings.icon_3, image_class: 'w-full h-full' %}
                            {% endif %}
                        </div>
                        <div class="icon-section-text text-color-pink_ text-xl md:text-xl lg:text-2xl">
                            {{ section.settings.icon_text_3 }}
                        </div>
                    </div>
                  {% endif %}
                  {% if section.settings.icon_4 != blank %}
                    <div class="icon-section-item">
                        <div class="icon-image mb-4 lg:mb-6">
                            {% if section.settings.icon_4 != blank %}
                                {% render 'responsive-image', image: section.settings.icon_4, image_class: 'w-full h-full' %}
                            {% endif %}
                        </div>
                        <div class="icon-section-text text-color-pink_ text-xl md:text-xl lg:text-2xl">
                            {{ section.settings.icon_text_4 }}
                        </div>
                    </div>
                  {% endif %}
              </div>
              {% if section.settings.button_label != blank %}
                <a href="{{ section.settings.button_link | default: "#" }}" class="{% comment %}default-btn{% endcomment %}sf__btn {{ section.settings.button_style }}">{{ section.settings.button_label }}</a>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Image with Content",
    "class": "section-image-with-content",
    "settings": [
      {
        "type": "header",
        "content": "Section header"
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
      },
      {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
      },
      {
          "type": "header",
          "content": "General"
      },
      {
          "type": "select",
          "id": "container",
          "label": "Container type",
          "default": "container-fluid",
          "options": [
              {
                  "value": "container-fluid",
                  "label": "Default"
              },
              {
                  "value": "w-full",
                  "label": "Full width"
              },
              {
                  "value": "container",
                  "label": "Use container box"
              }
          ]
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "rgba(0,0,0,0)"
      },
      {
        "type": "range",
        "id": "item_gap",
        "label": "Column gap",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 100,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "item_gap_mobile",
        "label": "Column gap on mobile",
        "min": 0,
        "max": 30,
        "step": 2,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Image settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Image link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_column_size",
        "label": "Image container width",
        "default": "6",
        "options": [
          {
            "value": "2",
            "label": "16%"
          },
          {
            "value": "3",
            "label": "25%"
          },
          {
            "value": "4",
            "label": "33%"
          },
          {
            "value": "5",
            "label": "41%"
          },
          {
            "value": "6",
            "label": "50%"
          },
          {
            "value": "7",
            "label": "58%"
          },
          {
            "value": "8",
            "label": "66%"
          },
          {
            "value": "9",
            "label": "75%"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hover_effect",
        "label": "Hover effect",
        "default": false
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Subheading",
        "default": "Jumpstart Your Body with"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Boss Desire Energy Booster"
      },
      {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
          {
              "value": "medium",
              "label": "Medium"
          },
          {
              "value": "large",
              "label": "Large"
          }
          ],
          "default": "medium"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "content": "Button settings",
        "type": "header"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
            {
                "value": "sf__btn-primary",
                "label": "Primary button"
            },
            {
                "value": "sf__btn-secondary",
                "label": "Secondary button"
            },
            {
                "value": "sf__btn-white",
                "label": "White button"
            },
            {
                "value": "sf__btn-link",
                "label": "Underline button"
            }
            ],
            "default": "sf__btn-link"
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "Button size",
            "options": [
            {
                "value": "sf__btn-small",
                "label": "Button small"
            },
            {
                "value": "",
                "label": "Button medium"
            },
            {
                "value": "sf__btn-large",
                "label": "Button large"
            }
            ],
            "default": ""
        },
        {
            "type": "image_picker",
            "id": "icon_1",
            "label": "Icon 1"
        },
        {
            "type": "text",
            "id": "icon_text_1",
            "label": "Text 1",
            "default": "Boost Energy"
        },
        {
            "type": "image_picker",
            "id": "icon_2",
            "label": "Icon 2"
        },
        {
            "type": "text",
            "id": "icon_text_2",
            "label": "Text 2",
            "default": "Add Pleasure"
        },
        {
            "type": "image_picker",
            "id": "icon_3",
            "label": "Icon 3"
        },
        {
            "type": "text",
            "id": "icon_text_3",
            "label": "Text 3",
            "default": "Increase Desire"
        },
        {
            "type": "image_picker",
            "id": "icon_4",
            "label": "Icon 4"
        },
        {
            "type": "text",
            "id": "icon_text_4",
            "label": "Text 4",
            "default": "Enhance Sensation"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "presets": [
      {
        "name": "Image with Content",
        "category": "Image"
      }
    ]
  }
{% endschema %}
