{% assign bg_color = section.settings.background_color %}
<section
    id="st__testimonial-{{ section.id }}"
    class="sf-testimonials relative {{ section.settings.custom_class }} testimonials-1"
    data-section-type="testimonials"
    data-section-id="{{ section.id }}"
    data-design="testimonials-3"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ settings.autorotate }}{% endif %}"
    data-container="{{ settings.container }}"
    data-bg="{{ bg_color | color_to_hsl }}"
    style="background-color: {{ settings.background_color }};--star-color: {{ section.settings.star_color }};"
>
  <div class="sf__page-about">
    {% render 'page-title', title: page.title, container: true %}
  </div>
</section>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "id": "bg_color",
      "label": "Background Color",
      "type": "color",
      "default": "#953b7e"
    }
  ]
}
{% endschema %}
