<div class="section-title-slider" style="background: {{ section.settings.background }};">
    <div class="title-slider__content">
        <div class="slider1">
          {% for i in (1..5) %}
              {% if section.settings.title != blank %}
                <div class="title-slider__content-title">
                    {{ section.settings.title }}
                </div>
              {% endif %}
          {% endfor %}
        </div>
        <div class="slider2">
          {% for i in (1..5) %}
              {% if section.settings.title != blank %}
                <div class="title-slider__content-title">
                    {{ section.settings.title }}
                </div>
              {% endif %}
          {% endfor %}
        </div>
    </div>
</div>
  {% schema %}
    {
      "name": "Text Slider",
      "settings": [
          {
              "type":"color",
              "label":"Background",
              "id": "background"
          },
          {
              "type":"text",
              "label":"Title",
              "id": "title"
          }
          
      ],
      "presets":[
          {
          "name": "Text Slider"
          }
      ]
  
    }
  {% endschema %}
  
  