{% comment %}
  All custom CSS in this file will be kept when updating the theme
  Write your custom CSS below
{% endcomment %}
.sf-search-form {
  display: none;
}
.sf-nav{
  width: 100%;
  justify-content: space-around;
}
.footer_social{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.footer_social svg{
  width: 44px;
  height: 44px;
}
.footer-menu{
  display: flex;
  justify-content: space-around;
}
.footer-logo{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.sf-footer .container-fluid{
  max-width: 800px;
}
.sf-footer .sf-footer__block ul li{
  font-size: 20px;
}
@media (min-width:1536px) {
  .sub_heading{
    font-size: 100px;
    line-height: 1.1;
  }
}
.section-title-slider{
  margin-top: 10px;
}
.title-slider__content{
	/* margin: 5px 0; */
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  font-size: 20px;
}
.title-slider__content .slider1{
  display: flex;
  animation: marquee 60s linear infinite;
  z-index: 6;
}
.title-slider__content .slider2 {
  display: flex;
  animation: marquee2 60s linear infinite;
  z-index: 6;
}
@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes marquee2 {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
}

.explore {
  display: flex;
  padding: 25px 0px;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.explore-img{
  width: 50px;
}
.explore-text{
  margin-left: 25px;
  font-weight: bold;
}

.testimonials-2 .not-change{
  color: #b46a9d;
  font-weight: bold;
}
.testimonials-2 .swiper-slide-next{
  border-left: solid 3px #c994ae;
  border-right: solid 3px #c994ae;
}
.testimonials-2{
  /* border-radius: 60px; */
}
.testimonials-2 .text-color-subtext{
  font-weight: bold;
  color: #953b7e;
}
.icon-section-item{
  display: block;
  flex: 40%;
  text-align: center;
  padding: 20px;
}
.icon-section{
  display: flex;
  flex-flow: wrap;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.icon-image{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width:1536px) {
  .icon-image{
    width: 80px;
  }
}
.text-color-pink{
  color: #f392c8;
}

.default-btn{
  border-radius: 34px;
  background-image: linear-gradient(97deg,#dcb9bc 3%,#a85394 98%);
  padding: 12px 40px;
  color: var(--btn-color, #fff);
  font-size: 20px;
  text-transform: uppercase;
}
@media (min-width:1024px) {
  .default-btn{
    padding: 13px 50px;
    color: var(--btn-color, #fff);
    font-size: 18px;
  }
  .icon-section-item{
    padding: 5px;
  }
}
@media (min-width:1536px) {
  .default-btn{
    padding: 14px 90px 14px 90px;
    font-size: 30px;
  }
  .icon-section-item{
    padding: 20px;
  }
}

/* new made */
.sf__custom-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sf__custom-content-2 .title {
  font-size: 30px;
  line-height: 1.24;
  margin-bottom: 24px;
}

.sf__custom-content-2 .sub_title {
  font-size: 30px;
  line-height: 1.24;
}

.sf__custom-content-2__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 24px;
}

.sf__custom-content-2__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.sf__custom-content-2__item .sf-image {
  width: 50px;
}

.sf__custom-content-2__item .title {
  margin-top: 12px;
  font-size: 16px;
  color: var(--text-color);
}

.sf__image-banner-blocks {
  /* margin: 80px 0; */
}

.sf__image-banner-blocks__item {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  /* min-height: 300px; */
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .sf__image-banner-blocks__item {
    background-image: var(--bg-mobile-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sf__image-banner-blocks__item .title, .sf__image-banner-block__two-text .title {
  font-size: 30px;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
}

.sf__image-banner-block__two {
  display: flex;
  flex-flow: column;
  position: relative;
}

.sf__image-banner-block__two-image1 {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  width: 100%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.sf__image-banner-block__two-image2 {
  background-image: var(--bg-image-2);
  background-color: var(--bg-color-2);
  width: 100%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .sf__image-banner-block__two {
    flex-direction: row;
  }

  .sf__image-banner-block__two-image1, .sf__image-banner-block__two-image2 {
    width: 50%;
  }
}

.sf__image-banner-block__two-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf__pages-fags {
  background-color: var(--bg-color);
  padding: 40px 0 80px;
}

.sf__pages-fags .sf__accordio-blocks {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 991px) {
  .sf__pages-fags .sf__accordio-blocks {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
  } 
}

.sf__pages-fags .sf__accordion-item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.sf__pages-fags .sf__accordion-button {
  border: none !important;
  padding-left: 40px;
  padding-right: 40px;
}

.sf__pages-fags .sf__accordion-item.open h3 {
  border-bottom: 1px solid #fff !important;
  transition-delay: 100ms;
  transition-property: border-bottom;
}

.sf__pages-fags .sf__accordion-content {
  padding-left: 40px;
  padding-right: 40px;
}

.sf__pages-fags .sf__accordion-button:after {
  background-image: none;
  content: "+";
  right: 35px;
  top: 0;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf__pages-fags .sf__accordion-item.open .sf__accordion-button:after {
  content: "_";
  right: 30px;
  top: -15px;
  font-size: 38px;
  transform: none;
}

.sf__pages-fags .sf__accordion-content {
  color: #fff;
}

.sf__accordio-title {
  text-align: center;
  margin: 15px 0;
  font-size: 30px;
  text-transform: uppercase;
}


.sf__contact-page input, .sf__contact-page textarea {
  background: transparent;
  border-radius: 50px;
  padding: 16px;
  border: 1px solid #fff !important;
}

.sf__contact-page textarea {
  border-radius: 20px;
}

.sf__contact-page__checkbox {
  display: flex;
}

.sf__contact-page__checkbox label {
  text-align: left;
}

.sf__btn-gradient {
  border-radius: 15px;
  background-image: linear-gradient(97deg, var(--first-color) 3%, var(--second-color) 98%);
  text-transform: uppercase;
  border: none;
  padding: 0.8rem 3rem;
}

#shopify-section-cart-drawer .scd__content {
  color: #953b7e;
}

#shopify-section-cart-drawer .scd__header {
  background-color: #dcb9bc;
}

#shopify-section-cart-drawer .scd__close {
  top: 20px;
  color: #fff;
}

/* new made */

.sf-testimonials__container .swiper-wrapper {
  display: flex;
  /* align-items: center; */
}

@media (max-width: 1023px) {
  .custom__block-image {
    order: 1;
    padding: 0;
  }
  .content__box  {
    margin-bottom: 20px;
    text-align: center;
  }
  .slide__block-link {
    margin-bottom: 15px;
  }
}


/* ------------------- Site Header ------------------ */

@media (min-width: 769px) {
  header .sf-logo {
    max-width: 180px !important;
  }
  header .container > .sf-menu-logo-bar > div {
    max-width: 7%;
    width: 100%;
  }

  header .container > .sf-menu-logo-bar > .sf-menu-wrapper__desktop {
    flex: 1;
    max-width: unset;
  }

  header .container > .sf-menu-logo-bar > .sf-menu-wrapper__desktop.desktop-menu-left {
    padding-right: 75px;
  }
  
  header .container > .sf-menu-logo-bar > .sf-menu-wrapper__desktop.desktop-menu-right {
    padding-left: 75px;
  }
}

.sf-mega-menu-collections a {
  color: #953b7e;
}

@media (max-width: 768px) {
  .sf-menu__content .sf-menu-links a {
    color: #953b7e;
  }
    
  .sf-mega-menu-collections a {
    font-size: 18px;
  }

  .sf-mega-menu-collections .sf-grid {
    flex-wrap: wrap;
    padding: 30px 1rem 0;
  }

  .sf-mega-menu-collections .sf-grid h3 {
    margin-top: 5px;
  }

  .sf-mega-menu-collections .sf-grid .sf-column {
    margin-bottom: 10px;
    min-width: 50%;
    padding-bottom: 0px;
  }

}


/* ------------------------ Homepage slideshow ------------------------ */

.section-slideshow h2.slide__block-title em {
  font-style: normal;
}
@media (min-width: 769px) {
  .section-slideshow h2.slide__block-title em {
    display: block;
  }
  .section-slideshow .slide__block-description {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .section-slideshow h2.slide__block-title {
    font-size: 30px;
  }
  .section-slideshow .slide__block-link {
    background-image: linear-gradient(97deg,#dcb9bc 3%,#a85394 98%);
  }
  .section-slideshow .sf__slide-block {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}


/* ---------------------- Homepage custom-icon-block */

.sf-custom__block {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 769px) {
  .sf-custom__block .content__box {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sf-custom__block .icon-section-item .icon-image {
    margin-bottom: 10px;
  }
  .sf-custom__block .icon-section {
    margin-bottom: 45px;
  }
  .section-image-with-content .image__box-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .section-image-with-content .image__box-wrapper .image__box {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .sf-custom__block .content__box {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


/* ----------------------- Homepage section-image-blocks ---------------------- */

.section-image-blocks .sf__image-banner-blocks__item > div {
  width: 100%;
}


/* --------------- Contactus Page ---------------- */

body.page-contact .sf__contact-page h3 {
  margin-bottom: 10px;
}

body.page-contact .sf__contact-page form#contact_form input, body.page-contact .sf__contact-page form#contact_form textarea {
  background: #FFF;
  /* color: #FFF; */
  color: #a1347f;
  font-family: 'SF-Body-font' !important;
  text-align: center;
}

body.page-contact .sf__contact-page form#contact_form input::placeholder, body.page-contact .sf__contact-page form#contact_form textarea::placeholder {
  /* color: #FFF; */
  color: #a1347f;
}


/* ------------------ Aboutus Page ------------------- */

body.page-about-us .section-image-slider .swiper-pagination {
  margin-top: 0px;
}

body.page-about-us .section-image-slider section > .w-full {
  margin-bottom: 0px !important;
}

@media (max-width: 768px) {
  body.page-about-us .section-image-slider .swiper-pagination {
    margin-top: -25px;
  }
  body.page-about-us .section-image-slider section > .w-full {
    padding-bottom: 15px;
  }
}


/* ---------------------- Rooster Page --------------------- */

body.page-roster .section-icon-box .sf-grid .sf__btn {
  margin-top: 5px;
  padding-top: 0px;
}

body.page-roster .section-icon-box .sf-grid h3.h4 {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  body.page-roster .image-with-text-overlay .sf-hero__content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }
}


/* ---------------------- Product page ------------------- */

.price_label {
  color: #953b7e;
  font-size: 1.5rem;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .price_label {
    font-size: 1.25rem;
  }
}

.prod__option--button {
  margin-left: 0px;
  margin-right: 0px;
}

.prod__option .product-option-item {
  border-color: #dcb9bc;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(100% / 3) !important;
}

.prod__option .product-option-item {
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prod__option .product-option-item p {
  color: #953b7e;
}

.prod__option .product-option-item .option_des {
  font-weight: normal;
}

.prod__option .product-option-item[data-selected='true'] {
  background: #dcb9bc;
}

.prod__option .product-option-item[data-selected='true'] p.variant_option {
  color: #FFF;
}

.prod__option .product-option-item img {
  max-width: 60%;
  margin-top: -30px;
}

.prod__option .product-options-wrapper {
  display: flex;
  width: 100%;
}

.rc-widget-injection-parent .rc-container-wrapper {
  margin-top: 20px;
}

.rc-widget-injection-parent .rc-radio-group__options label {
  border-color: #dcb9bc;
  border-radius: 0px;
  margin: 0px !important;
  min-width: 50%;
}

.rc-widget-injection-parent .rc-option--active .rc-option__price {
  color: #953b7e;
}

.rc-widget-injection-parent .rc_popup {
  display: none;
}

/* Section custom-content */

.section-custom-content .section-py {
  padding-top: 50px;
  padding-bottom: 30px;
}


.section-custom-content .metafield-multi_line_text_field {
  color: #FFF;
  display: block;
}
@media (min-width: 769px) {
  .section-custom-content .section__header  {
    margin-bottom: 20px;    
  }
  .section-custom-content .explore-img {
    width: 65px;
  }
  .section-custom-content .explore-text {
    font-size: 18px;
  }
  .section-custom-content .metafield-multi_line_text_field {
    font-size: 22px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .section-custom-content .metafield-multi_line_text_field {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .section-custom-content .section-py {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-custom-content .section-py .explore {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .section-custom-content .section-py .explore .explore-text {
    line-height: 1.2;
    margin-left: 0px;
    margin-top: 8px;
    text-align: center;
  }
}

/* Section custom-slider */

.section-custom-slider .custom-slider-footer, .section-custom-slider h3 {
  color: #953b7e;
}

@media (min-width: 769px) {
  .section-custom-slider .section-my {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}


/* ---------------------------- Site Footer ---------------------------- */

@media (max-width: 440px) {
  footer .footer-menu {
    flex-wrap: wrap;
  }
  footer .footer-menu > li {
    min-width: 50%;
    text-align: center;
  }
}


/* ---------------------------- Drawer Cart ------------------------------ */

#cart-drawer-container .scd__header {
  padding-left: 1.5rem;
}

@media (max-width: 768px) {
  #cart-drawer-container .scd__header {
  }
}



@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}