.prod__sticky-atc {
	background-color: var(--color-main-background, #fff);
	color: var(--color-body-text)
}

.prod__sticky-atc.enable-dynamic-checkout .sf__btn.add-to-cart,
.prod__sticky-atc .product-prices__unit {
	display: none
}

@media (min-width:768px) {
	.prod__sticky-atc.enable-dynamic-checkout .sf__btn.add-to-cart {
		display: block
	}
}

@media(max-width:767px) {
	.prod__sticky-atc.enable-dynamic-checkout .btn-back-in-stock {
		display: none!important
	}
}

.prod__sticky-atc .quantity-input__element {
	background-color: transparent
}

.prod__sticky-atc .sf__btn-secondary {
	color: var(--color-body-text)
}

.prod__sticky-atc select.sf-product-variant-option-dropdown {
	height: 46px
}

.prod__sticky-atc .shopify-payment-button__more-options {
	display: none
}

.prod__sticky-atc .psa__title {
	max-width: 400px
}

.prod__sticky-atc .psa__form-controls,
.prod__sticky-atc .psa__info {
	padding: 14px 0
}

.prod__sticky-atc .sf__tooltip-item {
	margin-bottom: 0
}

.prod__sticky-atc .sf__tooltip-item.sf-prod-compare__button {
	margin-right: .625rem
}

.prod__sticky-atc .sf__btn.add-to-cart {
	min-width: 160px
}

@media(min-width:768px) {
	.prod__sticky-atc .spc__main-img {
		height: 60px;
		max-width: 100px;
		width: 60px
	}
	.prod__sticky-atc .spc__main-img img {
		max-height: 60px
	}
	.prod__sticky-atc select {
		min-width: 250px
	}
}

@media(max-width:767px) {
	.prod__sticky-atc {
		--tw-bg-opacity: 1;
		--tw-text-opacity: 1;
		background-color: rgb(0 0 0/var(--tw-bg-opacity));
		color: rgb(255 255 255/var(--tw-text-opacity));
		font-size: 15px
	}
	.prod__sticky-atc .spc__main-img {
		max-width: 30px
	}
	.prod__sticky-atc .prod__compare_price,
	.prod__sticky-atc .psa__title {
		display: none
	}
	.prod__sticky-atc .prod__price {
		font-weight: 500
	}
	.prod__sticky-atc .psa__info {
		margin-left: .625rem
	}
	.prod__sticky-atc select.sf-product-variant-option-dropdown {
		height: 46px;
		margin-right: .625rem
	}
	.prod__sticky-atc .sf__btn.add-to-cart {
		min-width: auto;
		padding-left: 20px;
		padding-right: 20px
	}
	.prod__sticky-atc .quantity-input {
		background-color: #f1f1f1;
		color: #000;
		height: 46px
	}
	.prod__sticky-atc .quantity-input button {
		height: 46px;
		width: 30px
	}
	.prod__sticky-atc .quantity-input input {
		background-color: transparent;
		height: 46px;
		width: 42px
	}
}

@media(min-width:768px) {
	body,
	html {
		overflow-x: visible!important
	}
	.template-product .sf-prod__info-wrapper {
		margin-top: -5px
	}
}

.template-product #MainContent {
}

.template-product .prose {
	color: var(--product-desc-color, #666)
}

.template-product .sf-prod-media__wrapper .nav-swiper-container,
.template-product .sf-prod-media__wrapper .swiper-container {
	opacity: 0;
	transition-duration: .15s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.template-product .sf-prod-media__wrapper .swiper-container {
	height: 100%
}

.template-product .sf-prod__info-wrapper {
	margin-left: -4px;
	margin-right: -4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 5px;
	position: sticky;
	top: 30px
}

.gslide-media.gslide-inline {
	margin: 0 auto
}

.product-template .swiper-pagination-bullet:after {
	background-color: #dedede
}

.prod__accordion .sf__accordion-item:not(:last-child) {
	margin-bottom: 1.5rem
}

.prod__accordion .sf__accordion-item.open .sf__accordion-button {
	border-color: #000
}

@media screen and (min-width:640px) {
	.prod__accordion .sf__accordion-item .acc-image {
		width: var(--acc-image-width, auto)
	}
}

.model-in-lightbox,
.model-in-lightbox model-viewer {
	height: 100%;
	width: 100%
}

.model-in-lightbox .sf-prod__container,
.model-in-lightbox model-viewer .sf-prod__container {
	margin: 0;
	padding: 0 .5rem
}

.model-in-lightbox .sf-prod__container .sf-prod__info-wrapper,
.model-in-lightbox model-viewer .sf-prod__container .sf-prod__info-wrapper {
	padding-right: 15px
}

@media(min-width:992px) {
	.sf-prod__summary {
		max-width: 590px
	}
	.sf-prod__summary .sf-prod__info-wrapper {
		padding-left: 40px!important
	}
}

@media(min-width:1680px) {
	.sf-prod__summary {
		max-width: 590px
	}
	.sf-prod__summary .sf-prod__info-wrapper {
		padding-left: 60px!important
	}
}

.sf-prod-media__wrapper {
	padding-left: 4px;
	position: sticky;
	top: 30px
}

.sf-prod-media__wrapper.default-variant .sf-prod-media-item:not(:last-child) {
	margin-bottom: 10px
}

.sf-prod__layout-7 .sf-prod-media__wrapper {
	position: static
}

@media(max-width:767px) {
	.sf-prod-media__wrapper {
		padding-left: 0
	}
}

.bottom-block__icon {
	display: inline-block;
	width: 20px
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .sf-prod-media,
.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .swiper-wrapper,
.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 img {
	max-height: 70vh;
	width: 100%
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .sf-prod-media img {
	-o-object-fit: cover;
	object-fit: cover
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255/var(--tw-border-opacity));
	border-width: 1px
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide .sf-prod-media {
	height: 100%
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide .sf-prod-media .sf-image {
	height: 100%;
	width: 100%
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide .sf-prod-media>img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide .sf-prod-media>img .sf-prod__container {
	margin: 0;
	padding: 0 .5rem
}

.sf-prod-mobile__layout-1 .product-page-mobile__slider-1 .nav-swiper-container .swiper-slide .sf-prod-media>img .sf-prod__container .sf-prod__info-wrapper {
	padding-right: 15px
}

.sf-media-nav-mobile .swiper-slide-thumb-active .sf-prod-media {
	box-shadow: 0 0 0 1px #000
}

.sf-media-nav-mobile .swiper-slide {
	padding: 2px
}

.sf-prod-template__desktop .swiper-button-disabled {
	--tw-text-opacity: 1;
	color: rgb(156 163 175/var(--tw-text-opacity));
	cursor: auto
}

.sf-prod-template__desktop.enable-zoom .sf-prod-media-item.media-type-image {
	cursor: zoom-in
}

.sf-prod-media-item:hover .zoom-in {
	opacity: 1;
	right: 1.25rem
}

.nav-swiper-container .sf-prod-media {
	border: 1px solid #fff;
	padding: 5px
}

.nav-swiper-container .swiper-slide-thumb-active .sf-prod-media {
	border: 1px solid #000
}

.sf-prod-template__mobile .nav-swiper-container {
	margin: 0 -5px
}

.sf-prod-media {
	transition: all .3s;
	width: 100%
}

.sf-prod__layout-4.layout-slider-1 .nav-swiper-container {
	overflow-x: auto;
	overflow-y: hidden
}

.sf-prod__layout-4.layout-slider-1 .nav-swiper-container .sf-prod-media,
.sf-prod__layout-4.layout-slider-1 .nav-swiper-container img {
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	width: 100%
}

.sf-prod__layout-4.layout-slider-1 .nav-swiper-container .sf-prod-media .sf-prod__container,
.sf-prod__layout-4.layout-slider-1 .nav-swiper-container img .sf-prod__container {
	margin: 0;
	padding: 0 .5rem
}

.sf-prod__layout-4.layout-slider-1 .nav-swiper-container .sf-prod-media .sf-prod__container .sf-prod__info-wrapper,
.sf-prod__layout-4.layout-slider-1 .nav-swiper-container img .sf-prod__container .sf-prod__info-wrapper {
	padding-right: 15px
}

@media(min-width:768px) {
	.sf-prod__layout-5 .swiper-container:not(.swiper-container-initialized) {
		margin: 0 -5px
	}
	.sf-prod__layout-5 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
		padding: 0 5px;
		width: 50%
	}
}

.sf-prod__layout-6 .sf-pis__wrapper {
	display: flex;
	flex-direction: row-reverse
}

.sf-prod__layout-6 .sf-media-nav {
	padding-right: 1.25rem
}

.sf-prod__layout-6 .nav-swiper-container {
	max-height: 450px;
	width: 70px
}

.sf-prod__layout-6 .nav-swiper-container .swiper-slide {
	height: var(--slide-height)!important
}

@media(min-width:768px) {
	.sf-prod__layout-7 .swiper-slide .sf-prod-media {
		opacity: .3
	}
	.sf-prod__layout-7 .swiper-slide.swiper-slide-active .sf-prod-media {
		opacity: 1
	}
	.sf-prod__layout-7 .prod__option-label__quantity {
		display: none
	}
	.sf-prod__layout-7 .prod__title {
		align-items: center;
		flex-direction: column
	}
	.sf-prod__layout-7 .prod__description {
		margin-bottom: 1rem;
		margin-top: 1rem;
		text-align: center;
		width: 100%
	}
	.sf-prod__layout-7 .prod__description .sf-prod__container {
		margin: 0;
		padding: 0 .5rem
	}
	.sf-prod__layout-7 .prod__description .sf-prod__container .sf-prod__info-wrapper {
		padding-right: 15px
	}
	.sf-prod__layout-7 .prod__reviews-and-prices {
		display: flex;
		justify-content: center
	}
	.sf-prod__layout-7 .prod__reviews-and-prices .product-prices__unit {
		text-align: left
	}
	.sf-prod__layout-7 .prod__countdown>div {
		justify-content: center
	}
	.sf-prod__layout-7 .prod__option {
		flex-direction: column
	}
	.sf-prod__layout-7 .prod__option>div {
		margin-right: 0
	}
	.sf-prod__layout-7 .prod__option .product-option-item {
		background-repeat: no-repeat
	}
	.sf-prod__layout-7 .prod__option .product-option-item:last-child {
		margin-right: 0
	}
	.sf-prod__layout-7 .prod__form-buttons {
		justify-content: center
	}
	.sf-prod__layout-7 .prod__additional_infos,
	.sf-prod__layout-7 .prod__info-accordion {
		text-align: left
	}
	.sf-prod__layout-7 .prod__trust-badges {
		display: flex;
		flex-direction: column;
		text-align: left
	}
	.sf-prod__layout-7 .prod__live-views {
		justify-content: center
	}
	.sf-prod__layout-7 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
		width: 33.3333333333%
	}
	.sf-prod__layout-7 .prod__option-label {
		justify-content: center
	}
	.sf-prod__layout-7 .prod__option-label button[data-open-sizeguide] {
		margin-left: 50px
	}
	.sf-prod__layout-7 .prod__option--dropdown {
		margin: 0 auto;
		max-width: 350px
	}
}

.sf-product__section {
	padding-bottom: 1.25rem;
	padding-top: 1.25rem
}

@media (min-width:768px) {
	.sf-product__section {
		padding-bottom: 3rem;
		padding-top: 3rem
	}
}

.sf-product__section {
	overflow: hidden
}

.sf-product__section-heading {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 2rem;
	text-align: center
}

@media (min-width:768px) {
	.sf-product__section-heading {
		font-size: 2.25rem;
		line-height: 2.5rem;
		margin-bottom: 3.5rem
	}
}

.sf-pdt__accordion .sf__accordion-item.open .sf__accordion-button {
	--tw-border-opacity: 1;
	border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.sf-product__section-tabs .sf-tab-header {
	font-weight: 500;
	line-height: 26px;
	margin: 0 32px;
	opacity: .35;
	padding: 12px 0
}

.product-options .prod__option .product-option-item[data-option-type=color] {
	height: 40px;
	margin: 5px;
	width: 40px
}

.product-options .prod__option .product-option-item[data-option-type=color]:before {
	height: 50px!important;
	left: -5px!important;
	top: -5px!important;
	width: 50px!important
}

.product-options .prod__option.prod__option--color .inline-flex {
	margin: -5px
}

.sf-prod__container {
	margin: 0 -15px
}

.w-full .sf-prod__container {
	margin: 0;
	padding: 0 .5rem
}

.w-full .sf-prod__container .sf-prod__info-wrapper {
	padding-right: 15px
}

.sf-prod__container>div {
	padding: 0 15px
}

@media(max-width:767px) {
	.sf-prod__container {
		overflow: hidden
	}
}

.sf-prod__info-wrapper {
	margin-top: 20px
}

@media(min-width:768px) {
	.sf-prod__info-wrapper {
		margin-top: 0;
		padding-left: 8.33333%
	}
}

.spr-badge-starrating {
	margin-right: 10px!important
}

.spr-badge-starrating .spr-icon {
	font-size: 13px!important
}

.prod__additional_infos li {
	align-items: center;
	display: flex;
	line-height: 34px
}

.prod__additional_infos li:first-child {
	margin-top: 25px
}

.prod__additional_infos-label {
	display: block;
	font-weight: 500;
	margin-right: 40px;
	min-width: 85px
}

.actions-block {
	padding-bottom: 16px
}

.prod__option-label {
	line-height: 24px;
	margin-bottom: 12px
}

.product-options__option:not(:last-child) {
	margin-bottom: 20px
}

.product-options .option-label {
	font-weight: 400
}

.product-options .prod__option .sf__tooltip-item {
	background: none;
	margin-bottom: 0;
	padding: 0
}

.product-options__option button[data-open-sizeguide] {
	border-radius: 0;
	text-decoration: underline
}

.prod__form-buttons {
	margin-top: 24px
}

.prod__form-buttons button {
	margin-bottom: 10px;
	transition: all .3s
}

.prod__form-buttons button:hover {
	color: #666
}

.size-chart-initialized .product-options [data-open-sizeguide] {
	display: inline-flex!important
}

.sf__product-reviews {
	margin-top: 0
}

.spr-container {
	border: none!important
}

.spr-container .spr-reviews {
	margin: 26px 0
}

.spr-container .spr-header-title {
	font-weight: 500;
	margin-bottom: 32px
}

.spr-container .spr-summary {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative
}

.spr-container .spr-summary:after,
.spr-container .spr-summary:before {
	display: none
}

.spr-container .spr-summary .spr-summary-caption {
	flex: 1;
	margin-left: 12px;
	text-align: left
}

.spr-container .spr-review {
	padding: 30px 0!important;
	position: relative
}

.spr-container .spr-review .spr-starratings {
	font-size: 9px
}

.spr-container .spr-review .spr-starratings .spr-icon {
	margin: 0 1px
}

.spr-container .spr-review-content-body {
	color: #666;
	font-size: 16px!important;
	line-height: 28px
}

.spr-container .spr-review-header {
	display: flex;
	flex-flow: column
}

.spr-container .spr-review-header-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 14px;
	margin-top: 20px;
	order: 1
}

.spr-container .spr-review-header-byline {
	font-size: 18px;
	font-style: inherit;
	margin-bottom: 0
}

.spr-container .spr-review-header-byline strong:last-child {
	font-size: 14px;
	font-weight: 400
}

.spr-container .spr-review-reply-shop {
	float: none
}

.spr-container .spr-review-reply {
	background-color: #f7f7f7;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	margin-bottom: 12px;
	margin-left: 45px;
	margin-top: 32px;
	padding: 16px!important
}

.spr-container .spr-review-content {
	margin: 0;
	padding: 0
}

.spr-container .spr-review-reply-body {
	color: #666;
	font-size: 16px;
	line-height: 28px;
	margin-top: 5px;
	order: 1
}

.spr-container .spr-review-reply-shop {
	font-size: 18px;
	font-style: inherit;
	order: 0
}

.spr-container .spr-review-footer {
	margin-top: 20px
}

.spr-container .spr-summary-actions-newreview {
	background-color: transparent;
	border-width: 1px;
	padding: .625rem 1.25rem;
	text-align: center;
	white-space: nowrap
}

.product-mb__media.spr-container .spr-summary-actions-newreview .product-mb__atwl {
	right: 42px
}

@media (min-width:768px) {
	.spr-container .spr-summary-actions-newreview {
		padding-left: 2rem;
		padding-right: 2rem
	}
}

.spr-container .spr-summary-actions-newreview {
	border-color: var(--color-btn-bg, var(--color-primary-darker));
	border-radius: var(--btn-border-radius, 0);
	border-width: var(--btn-border-width);
	display: inline-block;
	float: none;
	letter-spacing: var(--btn-letter-spacing, 0);
	line-height: var(--btn-line-height, "normal");
	text-transform: var(--btn-text-transform, "");
	transition: all .32s
}

.spr-container .spr-summary-actions-newreview:after,
.spr-container .spr-summary-actions-newreview:before {
	display: none!important
}

.spr-container .spr-summary-actions-newreview:focus,
.spr-container .spr-summary-actions-newreview:hover {
	background: var(--color-btn-bg, var(--color-primary-darker));
	border-color: var(--color-btn-bg, var(--color-primary-darker))!important;
	box-shadow: 0 0 0 .2rem var(--color-btn-bg-hover);
	color: var(--color-btn-text-hover, #fff)!important
}

.spr-container .spr-review-reportreview {
	color: #666;
	text-decoration: underline
}

.spr-container .spr-form-contact-email,
.spr-container .spr-form-contact-location,
.spr-container .spr-form-contact-name,
.spr-container .spr-form-review-body,
.spr-container .spr-form-review-rating,
.spr-container .spr-form-review-title {
	margin-bottom: 20px
}

@media(max-width:767px) {
	.spr-container {
		padding: 0!important
	}
	.spr-container .spr-review {
		padding: 16px 0!important
	}
	.spr-container .spr-summary {
		flex-flow: column
	}
	.spr-container .spr-summary-caption {
		margin-left: 0;
		padding: 10px 0
	}
}

.add-to-cart.disabled {
	opacity: .8!important
}

.prod__stock-countdown .prod__description strong {
	color: #ef2d2d
}

.prod__stock-countdown .psc__progress {
	background: #ef2d2d
}

.template-product .sf-icon-box h3 {
	font-size: 20px
}

.sf-pis__wrapper .swiper-button-control {
	align-items: center;
	background-color: #fff;
	border-radius: 50%;
	color: #000;
	display: inline-flex;
	height: 45px;
	justify-content: center;
	opacity: 0;
	pointer-events: auto;
	transform: translate3d(-100%, 0, 0);
	transition: all .3s;
	visibility: hidden;
	width: 45px
}

.sf-pis__wrapper .swiper-button-control:hover {
	background: var(--color-btn-bg-hover, var(--color-primary-darker));
	border-color: var(--color-btn-bg-hover, var(--color-primary-darker));
	color: var(--color-btn-text-hover, #fff)
}

.sf-pis__wrapper .swiper-button-control.swiper-button-next {
	transform: translate3d(100%, 0, 0)
}

.sf-pis__wrapper:hover .swiper-button-control {
	opacity: 1;
	transform: none;
	visibility: visible
}

.product-recommendations,
.recently-viewed {
	overflow: hidden
}

.product-recommendations .sf-column,
.recently-viewed .sf-column {
	padding-bottom: 10px
}

@media(max-width:767px) {
	.product-recommendations .sf-slider__controls,
	.recently-viewed .sf-slider__controls {
		display: none
	}
	.spr-badge-caption {
		font-size: 14px
	}
	.bottom-block .prod__delivery-times,
	.bottom-block .prod__shipping-text,
	.prod__live-views {
		align-items: flex-start;
		line-height: 22px
	}
	.prod__title h1 {
		display: block;
		margin-right: 0
	}
	.product-form__actions .form__input-wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%
	}
	.product-form__actions .form__input-wrapper label {
		margin-bottom: 0;
		margin-right: 20px
	}
	.product-form__actions .quantity-input {
		flex: 1
	}
	.product-form__actions .prod__dynamic_checkout {
		margin-top: 10px!important
	}
	.sf-product-features .sf-icon-box__inner {
		flex-flow: row
	}
	.sf-product-features .sf-icon-box__content {
		padding-left: 15px;
		text-align: left
	}
	.sf-product__section .sf__accordion-button {
		font-size: 18px;
		padding: 12px 0
	}
	.product-recommendations .sf__ms-wrapper .swiper-slide,
	.recently-viewed .sf__ms-wrapper .swiper-slide {
		width: 40vw!important
	}
	.product-recommendations .sf-grid,
	.recently-viewed .sf-grid {
		margin-bottom: 0!important
	}
}

@media(max-width:480px) {
	.product-recommendations .sf__ms-wrapper .swiper-slide,
	.recently-viewed .sf__ms-wrapper .swiper-slide {
		padding-bottom: 0;
		width: 66vw!important
	}
}

@media(max-width:360px) {
	.prod__reviews-and-prices .spr-badge-caption {
		display: none
	}
}

.product-mb__media {
	overflow: hidden;
	position: relative
}

.product-mb__media .swiper-pagination {
	flex-wrap: wrap;
	margin-top: 10px;
	width: 100%;
	z-index: 11
}

.product-mb__media .swiper-pagination-bullet {
	margin: 2px 4px
}

.product-mb__media .sf-slider__controls {
	margin: 0;
	padding: 0
}

.product-mb__media .product-mb__atwl {
	padding: 0;
	position: absolute;
	right: 20px;
	top: 18px;
	z-index: 1
}

.product-mb__media .product-mb__atwl svg {
	margin-top: -1px
}

.product-mb__media .product-mb__atwl .ssw-faveiticon {
	position: static!important
}

.product-mb__media.px-5 .product-mb__atwl {
	right: 42px
}

.sf-prod__sticky {
	will-change: min-height
}

.sf-prod__sticky-inner {
	transform: translateZ(0);
	will-change: position, transform
}

.sf-tab-content .custom-container.grid {
	align-items: flex-start
}

.sf-pis__wrapper .media-video,
.sf-pis__wrapper iframe {
	height: 100%;
	width: 100%
}

.prod__sticky-atc {
	align-items: center;
	display: flex;
	max-height: 76px
}

.main-product__block+.main-product__block {
	margin-top: 30px
}

.main-product__block-text+.main-product__block-title {
	margin-top: 5px
}

.main-product__block-addons {
	margin-top: 20px
}

.main-product__block .prod__tags {
	margin-bottom: 0
}

.main-product__block .spr-starrating {
	align-items: center;
	justify-content: flex-start!important;
	margin-bottom: -10px;
	margin-top: -30px
}

.main-product__block .spr-starrating .spr-stars span {
	display: flex
}

.main-product__block #ssw-avg-rate-profile-html {
	align-items: center;
	display: flex;
	margin-top: -15px
}

.main-product__block #ssw-avg-rate-profile-html .ssw-question-count,
.main-product__block #ssw-avg-rate-profile-html .ssw-stars {
	align-items: center;
	display: inline-flex!important
}

.main-product__block .ssw-icon-star {
	margin: 0 3px
}

.main-product__block .ssw-review-count {
	margin-left: 10px;
	white-space: nowrap
}

.main-product__block .ssw-question-count {
	margin-left: 15px;
	white-space: nowrap
}

.main-product__block .ssw-question-count>span {
	align-items: center;
	display: inline-flex
}

.main-product__block .ssw-rq-divider {
	padding-right: 15px
}

.main-product__block .gw-icon-chat {
	margin-right: 5px
}

.main-product__block .sf-breadcrumb {
	margin-top: -.5rem
}

.main-product__block .sf-breadcrumb .container {
	padding: 0
}

@media(max-width:767px) {
	.main-product__block-custom_field {
		margin-top: 20px
	}
	.main-product__block #ssw-avg-rate-profile-html {
		flex-wrap: wrap
	}
	.main-product__block #ssw-avg-rate-profile-html .ssw-rq-divider {
		display: none!important
	}
	.main-product__block #ssw-avg-rate-profile-html .ssw-question-count {
		margin-bottom: 10px;
		margin-left: 0
	}
	.main-product__block #ssw-avg-rate-profile-html .ssw-stars {
		margin-bottom: 10px;
		margin-right: 15px
	}
}

.main-product__block-badge+.main-product__block-title,
.main-product__block-title+.main-product__block-price {
	margin-top: 12px
}

.main-product__block-breadcrumb+.main-product__block-title {
	margin-top: 0
}

.main-product__block-title+div[class*="@app"] #shopify-block-loox-rating,
.main-product__block-title+div[class*="@app"] .jdgm-preview-badge {
	margin-top: -28px
}

.product__custom-field .form-control {
	margin-bottom: 0
}

.prod__trust-badges {
	align-items: center;
	background-color: #f8f8f8;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	padding: 20px
}

.prod__trust-badges h4 {
	font-weight: 500;
	margin-top: 12px
}

@media(max-width:767px) {
	.prod__trust-badges {
		padding: 16px
	}
}

.prod__trust-badges--above {
	flex-flow: column-reverse
}

.prod__trust-badges--above h4 {
	margin: 0 0 20px
}

.prod__trust-badges h4 {
	margin-top: 20px
}

.main-product__block-buy_buttons .prod__countdown:not(.hidden),
.main-product__block-buy_buttons .prod__stock-countdown {
	margin-bottom: 30px
}

.prod__title h1 {
	color: var(--product-title-color, #953b7e)
}

.zoom-in svg {
	height: 18px;
	width: 18px
}

.installment-shoppay {
	margin-top: 20px!important
}

.installment-shoppay:empty {
	display: none
}

.prod__availability {
	color: #3d9851
}

.prod__availability--outofstock {
	color: #d11010
}

.btn-back-in-stock {
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.product__xr-button {
	background-color: rgba(26, 27, 24, .08)!important;
	bottom: 12px;
	height: 50px;
	right: 20px;
	width: 50px
}

button.shopify-payment-button__button--unbranded {
	font-size: 0!important
}

button.shopify-payment-button__button--unbranded:before {
	content: "Buy now";
	font-size: var(--font-btn-size, 1rem);
	font-weight: var(--font-btn-weight, 500);
	letter-spacing: var(--btn-letter-spacing, 0);
	line-height: var(--btn-line-height, "normal")
}


/*# sourceMappingURL=product-template.css.map */